* {
	margin: 0;
	padding: 0;
}

/*mobile device*/

.logo {
	border: none;
	margin:20px;

}

.logo-bea {
	width: 50%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCE9F3;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
}

nav ul li {
	list-style: none;
	display: inline-block;
	line-height: 50px;
	border: 1px solid #000;
	margin-right: 20px;
}

nav ul li a {
	font-size: 10px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none; /*fjerner linjen under, der viser det er et link*/
	font-family: poppins, arial;
	color: black;
	display: block; /*Gør at man ikke behøver trykke direkte på teksten, men også kan trykke udenom*/
}

.logo-me {
	margin: 0 auto;
	align-items: center;
}

.scroll {
	position: fixed;
	top: 50%;
	right: 0;
	width: 40px; 
	height: 30px; 
	display: block;
	text-align: center; 
	color: #fff; 
	font-size: 10px;
	font-family: poppins, arial; 
	text-decoration: none; 
	z-index: 10000; /*Denne hjælper med, at den hele tiden er foran alt andet på siden*/
}

.scroll.top {
	top: calc(50% - 40px); /*Hjælper med at placere diven fra toppen*/
	background: #CAC5E4;
	border: 1px solid #000;
	padding-top: 10px;
}

.scroll.bottom {
	top: calc(50% - 0px);
	background: #CAC5E4;
	border: 1px solid #000;
	padding-top: 10px;
}

main.welcomepicture {
	background-image: url('../IMG/skrivebord4.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 250px;
}

.welcometext {
	font-family: poppins, arial;
	color: #482980;
	font-weight: bold;
	text-align: center;
	font-size: 70%;
	display: grid;
	margin: 0 auto;
	padding-top: 30%; 
}

.welcometext h1 {
	background-color: rgba(252, 233, 243, 0.5)
}


.welcometext p {
	background-color: rgba(252, 233, 243, 0.5)
}


main ul li {
	display: none;
}

.wrapper {
	max-width: 2560px;
	display: grid;
  	grid-gap: 10px;
  	grid-template-columns: 100%; 
  
  	grid-template-areas:
    "img-me"
    "about"
    "kompetencer";
}

.wrapper > * {
    border-radius: 5px;
    padding: 10px;
    background-color: #FFFFFF;
}

.img-me {
	grid-area: img-me;	
}

.logo-me {
	width: 100%;
	margin: 0 auto;
	align-items: center;
}

.about {
	grid-area: about;
}

.pinkbox2 {
 	width: 100%;
	height: 100%;
	background-color: #FCE9F3;
	margin: auto;
	align-content: center;
}

.about h2 {

	font-family: poppins, arial;
	text-align: center;
	padding-top: 5%;
}

.about h3 {
	font-family: poppins, arial;
	text-align: center;
	margin-top: 20px;
}

.about p {
	font-family: poppins, arial;
	color: black;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
	padding-top: 5%;
}

.kompetencer {
	grid-area: kompetencer;
	margin-top: 20px;
}

.pinkbox {

	background-color: #FCE9F3;
	margin: auto;
	align-content: center;
	padding: 20px;
}

.pinkbox h2 {
	font-family: poppins, arial;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 30px;
}

.icons {
	display: grid;
	grid-column-gap: 5%;
	justify-content: center;
}

.icons img {
	display: grid;
	margin: 0 auto;
	width: 150px;
	height: 150px;
}

.icons p {
	display: grid;
	margin: 0 auto;
	font-family: poppins, arial;
	text-align: center;
	padding-bottom: 30px;
	margin-top: 20px;
	max-width: 300px;
}

.portfolio {
	justify-content: center;
	align-items: center;
}

.portfolio h2 {
	font-family: poppins, arial;
	text-align: center;
	margin-bottom: 20px;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-content: center;
	margin-bottom: 20px;
}

.gallery img {
	margin: 0 auto;
	width: 200px; 
	height: 200px; 
}

.gallery .box {
	position: relative;
	width: 200px;
	height: 200px; 
	display: inline-block;
}

.gallery .box .imgbox {
	position: relative;
	overflow: hidden;
}

.gallery .box .imgbox img {
	max-width: 100%; 
	transition: transform 2s; /*angivet tid for billedet at scalere op*/
}

.gallery .box:hover .imgbox img {
	transform: scale(1.2);	/*Hvor meget billedet bagved scalerer op*/
}

.gallery .box .details {
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px; 
	right: 10px;
	background: rgba(0,0,0,.7); /*Red, Green, Blue - ALPHA (Alpha hjælper med gennemsigtigheden)*/
	transform: scaleY(0); /*Boksen udformer sig på Y aksen (lodret)*/
	transition: transform .5s;
}

.gallery .box:hover .details {
	transform: scaleY(1);
}

.gallery .box .details .content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%); /*Positionerer teksten i boksen*/
	text-align: center; 
	padding: 15px;
	color: #fff;
	text-decoration: none;
	display: block;
	}

.gallery .box .details .content h2 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #CAC5E4;	
	font-family: poppins, arial; 
}

.gallery .box .details .content p {
	margin: 10px 0 0;
	padding: 0;
	font-family: poppins, arial;
}

.pinkbox1 {
	width: 100%;
	background-color: #FCE9F3;
	margin: auto;
	align-content: center;	
}

footer h2 {
	font-family: poppins, arial;
	text-align: center;
	font-size: 30px;
}

.tak p {
	font-family: poppins, arial;
	text-align: center;
}

.tak {
	padding-bottom: 20px;
}

.oplysninger {
	display: grid;
	font-family: poppins, arial;
	text-align: center;
	margin: 20px;
	padding-bottom: 30px;
}

.socialmedia {
	text-align: center;
	margin: 20px;
	padding-bottom: 30px;
}


.fab {
	font-size: 30px;
	color: #482980;
}

.fab:hover{
	font-size: 30px;
	color: #FFFFFF;
}

/*portfolio page mobile device*/

.portfolio-page h2 {
	font-family: poppins, arial;
	text-align: center;
	margin: 20px;
}

/*pentool*/

.pentoolcontainer {
  	display: inline-grid;
}

.pentoolpic {
	padding: 40px;
}

.pentooltext {
	padding-bottom: 10%;
}

.pentooltext h2 {
	font-family: poppins, arial;
	text-align: center;
	font-weight: bold;
	padding-bottom: 5%;
}

.pentooltext p {
	font-family: poppins, arial;
	text-align: center;
	padding-bottom: 10%;
}

/*Tablet device*/
@media only screen and (min-width: 700px) {

.scroll {
	width: 60px; 
	height: 50px; 
	font-size: 15px;
}

.scroll.top {
	top: calc(50% - 60px); /*Hjælper med at placere diven fra toppen*/
}

.welcometext {
	font-size: 20px;
	padding-top: 15%;
}

.oplysninger {
	display: grid;
	margin: 0 auto;
	font-family: poppins, arial;
	text-align: left;
	grid-template-columns: auto auto;
	justify-content: space-between;
}

.kontaktoplysninger { 
	text-align: left; 
	padding-left: 30px;
}

.socialmedia {
	text-align: left;
	padding-right: 30px;
}

}

/*Desktop device*/
@media only screen and (min-width: 1025px) {

.logo-bea {
	width: 100%;
}

nav ul li a {
	font-size: 16px;
	padding: 0 20px;
}

nav ul li a:hover {
	background-color: #E2DEF0;
}

.scroll {
	width: 80px; 
	height: 70px; 
	font-size: 20px;
}

.scroll.top {
	top: calc(50% - 80px); /*Hjælper med at placere diven fra toppen*/
}

.wrapper {
  	grid-template-columns: 1fr 1fr; 
  	grid-template-areas:
    "img-me about"
    "kompetencer kompetencer";
}

main.welcomepicture {
	min-height: 600px;
}

.welcometext {
	font-size: 30px;
	padding-top: 23%;
	padding-left: 45%;	
}

.welcometext ul {
	background-color: rgba(252, 233, 243, 0.5)
}

main ul li {
	list-style: none;
	display: inline-block;
	line-height: 50px;
	border: 1px solid #000;
	margin: 10px;
}

main ul li a {
	font-size: 16px;
	text-decoration: none; /*fjerner linjen under, der viser det er et link*/
	font-family: poppins, arial;
	color: black;
	background-color: #E2DEF0;
	padding: 0 20px;
	display: block; /*Gør at man ikke behøver trykke direkte på teksten, men også kan trykke udenom*/
}

ul li a:hover {
	background-color: #FCE9F3;
}

.img-me {
	grid-area: img-me;	
}

.about {
	grid-area: about;	
}

.about h2 {
	font-size: 50px;
}

.kompetencer {
	grid-area: kompetencer;	
}

.kompetencer h2 {
	font-size: 50px;
}

.pinkbox {
	height: 500px;
}

.portfolio h2 {
	font-size: 50px;
}

.icons {
	grid-template-columns: auto auto auto;
}

.pinkbox1 {
	width: 100%;
	background-color: #FCE9F3;
	margin: auto;
	align-content: center;	
	padding: 10px;
}


/*portfolio page desktop device*/

.portfolio-page h2 {
	font-size: 50px;
}
.sprite {
	position: relative;
	left: 32%;
	width: 500px; 
	height: 500px;
	background: url('../IMG/pingvin3-01.png') 0 0 no-repeat;
	animation: play 1s steps(10) infinite;
}

@keyframes play {
	0% { background-position: 0px; }
	100% { background-position: -5000px; }
}

/*pentool*/

.pentoolcontainer {
  	display: inline-grid;
  	grid-template-columns: auto auto;
}

.pentoolpic {
	padding: 40px;
}

.pentooltext h2 {
	font-family: poppins, arial;
	text-align: center;
	padding-top: 40px;
	font-weight: bold;
	padding-bottom: 30px;
}

.pentooltext p {
	font-family: poppins, arial;
}

}