* {
	margin: 0;
	padding: 0;
}

/*mobile device*/

.logo {
	border: none;
	margin-left: 20px;
	margin-top: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCE9F3;
}

